@page "/"
@using CNHephaestus.Pages.Components
@using System.ComponentModel
@using CNHephaestus.Pages.Components.Windows
@using CNHephaestus.Pages.Components.Modals
@inject HttpClient http
@inject ProxyService ps
@inject CNHSystemService _sys

<head>
 <link rel="stylesheet" href="css/MainLayout.css">
 <link rel="stylesheet" href="css/Windows.css">
 <link rel="stylesheet" href="css/Modals.css">
</head>

<div class="CNHROOT">
 <div class="CNHCONTAINER">

  @if (_sys.activeModal != null)
  {
   <Modal info="@_sys.activeModal"/>
  }

  <TopBar />
  <div class="CNHMAINCONTIANER">
   @if (_sys.ActiveWindow != null)
   {
    @switch (_sys.ActiveWindow.Type)
    {
     case "CADDashboard":
      <CADDashboard info="@_sys.ActiveWindow" />
      break;
     case "UnitsDashboard":
      <UnitsDashboard info="@_sys.ActiveWindow" />
      break;

     default:
     case "TestWindow":
      <TestWindow info="@_sys.ActiveWindow" />
      break;
    }
   }
  </div>
  <BottomBar />
 </div>
</div>


@code {
 protected override async Task OnInitializedAsync()
 {
  _sys.WindowsChanged += refresh;


 }

 public void refresh(object? caller, EventArgs? ea)
 {
  StateHasChanged();
 }
}