@inject CNHSystemService _sys


<div class="CNHWINDOW">
 <div class="CNHWINDOWTOPBAR">
  @info.Title
  <span class="WindowControl">
   <span @onclick="closeme">X</span>
   <span @onclick="minimize">-</span>
  </span>
 </div>
 <div class="CNHWINDOWCONTENTCONTAINER">
  This is the content area
  @if (info.Memory != null && info.Memory.Count >= 1)
  {
   <input type="text" @bind-value="info.Memory[0]" />
  }
 </div>
</div>




@code {

 [Parameter]
 public Window info { get; set; }

 public TestWindow()
 {

 }

 protected override async Task OnInitializedAsync()
 {
  if (info.Memory.Count < 1)
   info.Memory.Add("");
  StateHasChanged();
 }

 protected override async Task OnParametersSetAsync()
 {
  if (info.Memory.Count < 1)
   info.Memory.Add("");
  StateHasChanged();
 }

 private void closeme()
 {
  _sys.CloseWindow(info);
  info.Memory.RemoveAt(0);
 }

 private void minimize()
 {
  _sys.SetActiveWindow(null);
 }


}
