@inject CNHSystemService _sys


<div class="CNHWINDOW">
 <div class="CNHWINDOWTOPBAR">
  Units Dashboard
  <span class="WindowControl">
   <span @onclick="closeme">X</span>
   <span @onclick="minimize">-</span>
  </span>
 </div>
 <div class="CNHWINDOWCONTENTCONTAINER">
  
 </div>
</div>




@code {

 [Parameter]
 public Window info { get; set; }


 protected override async Task OnInitializedAsync()
 {
 }

 protected override async Task OnParametersSetAsync()
 {
 }

 private void closeme()
 {
  _sys.CloseWindow(info);
 }

 private void minimize()
 {
  _sys.SetActiveWindow(null);
 }


}
