<head>
 <link rel="stylesheet" href="css/TopBar.css">
</head>

<div class="TOPBARCONTAINER">
 <div id="TopBarLeft"><TopBarContextMenu/></div>
 <div id="TopBarCenter">Center</div>
 <div id="TopBarRight">Right</div>
</div>

@code {

}
